:root {
  --cor-fundo: #f5f5f5;
  --cor-degrade-inicio: #36E2BB;
  --cor-degrade-fim: #C42FFF;
  --cor-botao: #9F36CA;
  --cor-botao-hover: #b75df0;
  --cor-texto: #000;
  --fonte-principal: "Arial", sans-serif;
  --raio-borda-degrade: 1rem;
  --cor-fundo:#dbdbdb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: var(--cor-fundo);
  font-family: var(--fonte-principal);
  color: var(--cor-texto);
}


.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}


.header {
  width: 100%;
  background: linear-gradient(to bottom, var(--cor-degrade-inicio), var(--cor-degrade-fim));
  border-bottom-left-radius: var(--raio-borda-degrade);
  border-bottom-right-radius: var(--raio-borda-degrade);
  text-align: center;
  padding: 5rem 1rem 10rem;
  color: var(--cor-texto);
}


.slogan {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.main {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin-top: -3rem; 
}

.icone {
  width: 110px;
  height: 96  px;
  padding: 10px;
  margin-bottom: 1.5rem;
  
}

.texto {
  margin: 0.5rem 0 2rem 0;
  font-size: 1rem;
  font-weight: 600;
}

.botao {
  background: var(--cor-botao);
  color: #fff;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.8rem;
  width: 180px;
}

.btn:hover {
  background: var(--cor-botao-hover);
}

.footer {
  text-align: center;
  padding: 1.5rem 0;


}

.footer .link {
  color: var(--cor-texto);
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9rem;

}

.footer .link:hover {
  text-decoration: underline;
}


@media (min-width: 768px) {
  .header {
    padding: 5rem 1rem 10rem;
  }

  .slogan {
    font-size: 1rem;
  }

  .avatar {
    width: 100px;
    height: 100px;
    margin-top: -4rem;
  }

  .botao {
    width: 200px;
    font-size: 1.05rem;
  }
}