:root {
    /* cores */
    --cor-degrade-inicio: #36E2BB;
    --cor-degrade-fim: #C42FFF;
    --cor-botao: #7800BE;
    --cor-botao-hover: #9F36CA;
    --cor-fundo: #f5f5f5;
    --cor-card: #ffffff;
    --cor-texto: #111827;
    --cor-texto-secundario: #7800BE;    
    --cor-borda: #d1d5db;
    --cor-input-fundo: #f9fafb;
    --cor-erro: #D93025;

    --fonte-principal: "Inter", sans-serif; 
    --fonte-titulo: "Sora", sans-serif;
    
    --raio-borda: 10px;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background: var(--cor-fundo);
    font-family: var(--fonte-principal);
    color: var(--cor-texto);

      background: linear-gradient(
    to bottom left,
    #80C7F4 3%,  
    #7A64DD 34%,
    #4628CC 76% 
  );

}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 55%;
    align-items: center; 
}

.header {
    width: 100%;
    text-align: center;
    padding: 5rem 1rem 10rem;
}


.main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    
    background: var(--cor-card);
    border-radius: var(--raio-borda);
    box-shadow: 0 6px 24px rgba(0,0,0,0.08);
    padding: 2.5rem;
    

    width: 80%;
    max-width: 420px;
    margin-top: -7rem;
    margin-bottom: 2rem;
}

.texto {
    margin: 0.5rem 0 2.5rem 0;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--fonte-titulo);
    color: var(--cor-texto-secundario);
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem; 
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: .5rem;
    border-radius: var(--raio-borda);
    border: 0.5px solid var(--cor-borda);
    background-color: var(--cor-input-fundo);
    font-size: .8rem;
    font-family: "Inter", sans-serif;
    transition: all 0.2s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: var(--cor-botao);
    box-shadow: 0 0 0 3px rgba(159, 54, 202, 0.15);
}

input[type="text"]:hover,
input[type="password"]:hover {
  background: #f1f1f2;
}

.botao {
    background: var(--cor-botao);
    color: #fff;
    border: none;
    border-radius: var(--raio-borda);
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.7rem; 
    width: 100%; 
    margin-top: 0.5rem;
}


.botao:hover {
    background: var(--cor-botao-hover);
}

/* erro */
.erro-login {
    color: var(--cor-erro);
    display: none;
    margin-top: 1rem;
    font-size: 0.5rem;
    font-weight: 500;
}

.link-cadastro {
    color: var(--cor-texto-secundario);
    font-weight: 500;
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 1.5rem;
}

.link-cadastro:hover {
    text-decoration: underline;
    color: var(--cor-botao);
}


@media (min-width: 768px) {
    .header {
        padding: 5rem 1rem 10rem;
    }

    .slogan {
        font-size: 1.1rem;
    }
    
    .icone {
        width: 110px;
    }
}